In [1]:
### Baixar bibliotecas

In [1]:
import pandas as pd
import os
import re
import wget
import requests
import urllib3
from urllib import request
from zipfile import ZipFile
import warnings
from datetime import datetime
from datetime import date

import pyodbc
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

warnings.filterwarnings('ignore')

## Dados Climáticos

In [22]:
## COLETAR ARQUIVO ZIP DO INMET - Histórico 2015 a 2023
## "https://portal.inmet.gov.br/uploads/dadoshistoricos/2023.zip"
## Criando estrutura para captura dos dados de forma automatizada no lugar  do ano será incluido a variável "i"

for i in range(2015,2024):
    url = "https://portal.inmet.gov.br/uploads/dadoshistoricos/"+str(i)+".zip"
    file = str(i)+".zip"
    request.urlretrieve(url , file)

In [ ]:
#COLETAR ARQUIVO ZIP DO INMET
#file_url = 'https://portal.inmet.gov.br/uploads/dadoshistoricos/2023.zip'
#file = '2023.zip'
#request.urlretrieve(file_url , file )

### TESTE ANO

In [2]:
# Lista de arquivos
#biplioteca para trabalhar com arquivos zipados

with ZipFile("2016.zip", "r") as lista:
    #print(*lista.namelist(), sep="\n")
    listaArquivos = lista.namelist()

# Separar os arquivos de SC e Listar os arquivos contidos no arquivo zipado
listaSC = []
print("####  LISTA DE ARQ SC ####")
for i in range(0,len(listaArquivos)):
    
    # utilização de expreções reculares para selecionar os arquivos so estado de SC
    if re.findall("INMET_S_SC", listaArquivos[i]):
        listaSC.append(listaArquivos[i])    
        print("#ARQ:" ,listaArquivos[i])

####  LISTA DE ARQ SC ####
#ARQ: 2016/INMET_S_SC_A806_FLORIANOPOLIS_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A817_INDAIAL_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A814_URUSSANGA_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A815_SAO JOAQUIM_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A816_NOVO HORIZONTE_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A841_JOACABA_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A845_BOM JARDIM DA SERRA - MORRO DA IGREJA_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A848_DIONISIO CERQUEIRA_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A851_ITAPOA_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A857_SAO MIGUEL DO OESTE_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A858_XANXERE_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A859_CACADOR_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A860_CURITIBANOS_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A861_RIO DO CAMPO_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A862_RIO NEGRINHO_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A863_ITUPORANGA_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A864_MAJOR VIEIRA_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A865_LAGES_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A866_Laguna  - Farol de Santa Marta_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A867_ARARANGUA_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A868_ITAJAI_01-01-2016_A_31-12-2016.CSV
#ARQ: 2016/INMET_S_SC_A870_RANCHO QUEIMADO_31-05-2016_A_31-12-2016.CSV

In [3]:
# Selecionar o arquivo e indicar a linha do "header" ==> cabeçalho
# os aquivos são padronizados e a partir da linha 8 é o cabeçalho da tabela

with ZipFile("2016.zip") as file:
        with file.open("2016/INMET_S_SC_A865_LAGES_01-01-2016_A_31-12-2016.CSV") as f:
            df = pd.read_csv(f, sep=";", header=8, encoding="ISO-8859-1",decimal=",")

In [4]:
df.head()

,DATA (YYYY-MM-DD),HORA (UTC),"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (KJ/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2016-01-01,00:00,0.0,903.8,903.8,903.5,-9999.0,21.5,18.5,22.1,21.4,19.0,18.5,84,82,83,212,4.3,1.8,NaN
1,2016-01-01,01:00,0.0,904.1,904.3,903.8,-9999.0,20.9,18.4,21.5,20.7,18.6,18.3,87,83,86,214,3.1,1.8,NaN
2,2016-01-01,02:00,0.0,904.1,904.2,904.0,-9999.0,20.0,18.1,20.9,20.0,18.5,18.1,89,86,89,230,3.1,1.1,NaN
3,2016-01-01,03:00,0.0,903.8,904.2,903.7,-9999.0,19.2,17.9,20.4,19.2,18.3,17.7,93,88,92,341,2.0,1.1,NaN
4,2016-01-01,04:00,0.0,903.2,903.8,903.2,-9999.0,19.1,18.1,19.2,18.8,18.2,17.8,94,92,94,79,2.0,0.4,NaN

In [5]:
# Selecionar os meta dados arquivo
# visualização dos dados acima do cabeçalho, considerado metadados

with ZipFile("2016.zip") as file:
    with file.open("2016/INMET_S_SC_A865_LAGES_01-01-2016_A_31-12-2016.CSV") as f:
        #h = pd.read_csv(f, sep=";", nrows=7, encoding="ISO-8859-1").set_index("REGIÃO:").T
        h = pd.read_csv(f, sep=";", nrows=7, encoding="ISO-8859-1", decimal=",")

In [6]:
# head ==> meta dados, transposta e inserido colunas no novo df
h

                          REGIÃO:             S
0                             UF:            SC
1                        ESTAÇÃO:         LAGES
2                   CODIGO (WMO):          A865
3                       LATITUDE:  -27,80222222
4                      LONGITUDE:  -50,33555555
5                       ALTITUDE:           955
6  DATA DE FUNDAÇÃO (YYYY-MM-DD):    2014-11-06

In [7]:
# Criar df com os dados do ano
# 

dados_new = pd.DataFrame()

# Selecionar o arquivo na listaSC e indicar a linha do "header" ==> cabeçalho
for i in listaSC:
    with ZipFile("2016.zip") as file:
        with file.open(i) as f:
            df = pd.read_csv(f, sep=";", header=8, encoding="ISO-8859-1", decimal=",")
    
    #Meta dados inicio do CSV, transpor para transformar em coluna
    with ZipFile("2016.zip") as file:
        with file.open(i) as f:
            h = pd.read_csv(f, sep=";", nrows=7, encoding="ISO-8859-1", decimal=",").set_index("REGIÃO:").T
            
            # Incluir os meta dados no final df
            for i in range(0,len(h.columns)):
                df[h.columns[i].replace(":","")] = h.iloc[0,i]
            
            # Concatenas os arquivos
            dados_new = pd.concat([df, dados_new], ignore_index=True)

# renomear colunas    
dados_new = dados_new.rename(columns={'ESTAÇÃO':'ESTACAO', 'DATA DE FUNDAÇÃO (YYYY-MM-DD)':'DATA DE FUNDACAO'})

In [8]:
# Verificação dos dados
dados_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189624 entries, 0 to 189623
Data columns (total 27 columns):
 #   Column                                                 Non-Null Count   Dtype
---  ------                                                 --------------   -----
 0   DATA (YYYY-MM-DD)                                      189624 non-null  object
 1   HORA (UTC)                                             189624 non-null  object
 2   PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                       189624 non-null  float64
 3   PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)  189624 non-null  float64
 4   PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)        189624 non-null  float64
 5   PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)       189624 non-null  float64
 6   RADIACAO GLOBAL (KJ/m²)                                189624 non-null  float64
 7   TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)           189624 non-null  float64
 8   TEMPERATURA DO PONTO DE ORVALHO (°C)                   189624 non-null  float64
 9   TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)             189624 non-null  float64
 10  TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)             189624 non-null  float64
 11  TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)       189624 non-null  float64
 12  TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)       189624 non-null  float64
 13  UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)               189624 non-null  int64
 14  UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)               189624 non-null  int64
 15  UMIDADE RELATIVA DO AR, HORARIA (%)                    189624 non-null  int64
 16  VENTO, DIREÇÃO HORARIA (gr) (° (gr))                   189624 non-null  int64
 17  VENTO, RAJADA MAXIMA (m/s)                             189624 non-null  float64
 18  VENTO, VELOCIDADE HORARIA (m/s)                        189624 non-null  float64
 19  Unnamed: 19                                            0 non-null       float64
 20  UF                                                     189624 non-null  object
 21  ESTACAO                                                189624 non-null  object
 22  CODIGO (WMO)                                           189624 non-null  object
 23  LATITUDE                                               189624 non-null  object
 24  LONGITUDE                                              189624 non-null  object
 25  ALTITUDE                                               189624 non-null  object
 26  DATA DE FUNDACAO                                       189624 non-null  object
dtypes: float64(14), int64(4), object(9)
memory usage: 39.1+ MB

##### Observação:

##### Os dados do ano de 2019 estão com o cabeçalho diferente dos demais anos, neste caso, os arquivos foram alterados manualmente e incluido o padrão de cabeçado de 2020 a 2023 e 2019.

## ## PROCESSO COMPLETO ##

#### DADOS 2015 A 2018

In [9]:
#Criar df com os dados do ano

dados_2015_2018 = pd.DataFrame()

for ano in range(2015,2019):
    
    # Lista de arquivos
    with ZipFile(str(ano)+".zip", "r") as lista:
        #print(*lista.namelist(), sep="\n")
        listaArquivos = lista.namelist()

    # Separar os arquivos de SC
    listaSC = []
    for i in range(0,len(listaArquivos)):
        if re.findall("INMET_S_SC", listaArquivos[i]):
            listaSC.append(listaArquivos[i])
            #print(listaArquivos[i])

    # Selecionar o arquivo na listaSC e indicar a linha do "header" ==> cabeçalho
    for i in listaSC:
        with ZipFile(str(ano)+".zip") as file:
            with file.open(i) as f:
                df = pd.read_csv(f, sep=";", header=8, encoding="ISO-8859-1", decimal=",")
    
            #Meta dados inicio do CSV, transpor para transformar em coluna
            with ZipFile(str(ano)+".zip") as file:
                with file.open(i) as f:
                    h = pd.read_csv(f, sep=";", nrows=7, encoding="ISO-8859-1",decimal=",").set_index("REGIÃO:").T
            
                    # Incluir os meta dados no final df
                    for i in range(0,len(h.columns)):
                        df[h.columns[i].replace(":","")] = h.iloc[0,i]
            
                    # Concatenas os arquivos
                    dados_2015_2018 = pd.concat([df, dados_2015_2018], ignore_index=True)
                    
#renomear colunas    
dados_2015_2018 = dados_2015_2018.rename(columns={'DATA (YYYY-MM-DD)':'Data','HORA (UTC)':'Hora UTC','RADIACAO GLOBAL (KJ/m²)':'RADIACAO GLOBAL (Kj/m²)','ESTAÇÃO':'ESTACAO', 'DATA DE FUNDAÇÃO (YYYY-MM-DD)':'DATA DE FUNDACAO'})

In [10]:
dados_2015_2018.tail()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),...,"VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19,UF,ESTACAO,CODIGO (WMO),LATITUDE,LONGITUDE,ALTITUDE,DATA DE FUNDACAO
759019,2015-12-31,19:00,0.0,1005.3,1005.5,1003.8,1424.5,27.6,23.5,29.8,...,12.3,6.4,NaN,SC,FLORIANOPOLIS,A806,"-27,6025","-48,61999999","1,8",2003-01-22
759020,2015-12-31,20:00,0.6,1006.3,1006.3,1005.3,548.3,26.2,23.4,27.6,...,13.1,4.9,NaN,SC,FLORIANOPOLIS,A806,"-27,6025","-48,61999999","1,8",2003-01-22
759021,2015-12-31,21:00,1.0,1005.9,1006.3,1005.4,859.7,25.8,23.3,26.2,...,11.7,5.0,NaN,SC,FLORIANOPOLIS,A806,"-27,6025","-48,61999999","1,8",2003-01-22
759022,2015-12-31,22:00,0.0,1006.7,1006.7,1005.8,327.0,25.7,23.2,26.0,...,10.5,4.7,NaN,SC,FLORIANOPOLIS,A806,"-27,6025","-48,61999999","1,8",2003-01-22
759023,2015-12-31,23:00,0.0,1007.5,1007.5,1006.7,3.6,25.5,22.7,25.7,...,11.0,4.8,NaN,SC,FLORIANOPOLIS,A806,"-27,6025","-48,61999999","1,8",2003-01-22

#### DADOS 2019 A 2023

In [11]:
#Criar df com os dados do ano

dados_2019_2023 = pd.DataFrame()

for ano in range(2019,2024):
    
    # Lista de arquivos
    with ZipFile(str(ano)+".zip", "r") as lista:
        #print(*lista.namelist(), sep="\n")
        listaArquivos = lista.namelist()

    # Separar os arquivos de SC
    listaSC = []
    for i in range(0,len(listaArquivos)):
        if re.findall("INMET_S_SC", listaArquivos[i]):
            listaSC.append(listaArquivos[i])
            #print(listaArquivos[i])

    # Selecionar o arquivo na listaSC e indicar a linha do "header" ==> cabeçalho
    for i in listaSC:
        with ZipFile(str(ano)+".zip") as file:
            with file.open(i) as f:
                df = pd.read_csv(f, sep=";", header=8, encoding="ISO-8859-1", decimal=",")
    
            #Meta dados inicio do CSV, transpor para transformar em coluna
            with ZipFile(str(ano)+".zip") as file:
                with file.open(i) as f:
                    h = pd.read_csv(f, sep=";", nrows=7, encoding="ISO-8859-1", decimal=",").set_index("REGIAO:").T
            
                    # Incluir os meta dados no final df
                    for i in range(0,len(h.columns)):
                        df[h.columns[i].replace(":","")] = h.iloc[0,i]
            
                    # Concatenas os arquivos
                    dados_2019_2023 = pd.concat([df, dados_2019_2023], ignore_index=True)

In [12]:
dados_2019_2023.tail()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),...,"VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19,UF,ESTACAO,CODIGO (WMO),LATITUDE,LONGITUDE,ALTITUDE,DATA DE FUNDACAO
1049515,2019/12/31,1900 UTC,0.0,1005.8,1006.4,1005.8,2590.4,29.3,21.3,29.8,...,11.4,4.0,NaN,SC,FLORIANOPOLIS,A806,"-27,60253","-48,620096","4,87",22/01/03
1049516,2019/12/31,2000 UTC,0.0,1005.7,1006.0,1005.6,1864.7,28.0,21.4,29.3,...,11.4,3.8,NaN,SC,FLORIANOPOLIS,A806,"-27,60253","-48,620096","4,87",22/01/03
1049517,2019/12/31,2100 UTC,0.0,1005.9,1005.9,1005.7,772.7,27.2,21.5,28.2,...,9.5,2.9,NaN,SC,FLORIANOPOLIS,A806,"-27,60253","-48,620096","4,87",22/01/03
1049518,2019/12/31,2200 UTC,0.0,1006.4,1006.4,1005.9,164.2,26.2,21.6,27.2,...,10.3,3.0,NaN,SC,FLORIANOPOLIS,A806,"-27,60253","-48,620096","4,87",22/01/03
1049519,2019/12/31,2300 UTC,0.0,1007.7,1007.7,1006.4,1.4,26.3,21.9,26.4,...,8.4,2.3,NaN,SC,FLORIANOPOLIS,A806,"-27,60253","-48,620096","4,87",22/01/03

#### CRIAÇÃO tb_dados_climaticos

In [13]:
# Concatenas os arquivos
df = pd.DataFrame()
df = pd.concat([dados_2015_2018,dados_2019_2023], ignore_index=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1808544 entries, 0 to 1808543
Data columns (total 27 columns):
 #   Column                                                 Dtype
---  ------                                                 -----
 0   Data                                                   object
 1   Hora UTC                                               object
 2   PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                       float64
 3   PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)  float64
 4   PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)        float64
 5   PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)       float64
 6   RADIACAO GLOBAL (Kj/m²)                                float64
 7   TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)           float64
 8   TEMPERATURA DO PONTO DE ORVALHO (°C)                   float64
 9   TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)             float64
 10  TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)             float64
 11  TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)       float64
 12  TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)       float64
 13  UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)               float64
 14  UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)               float64
 15  UMIDADE RELATIVA DO AR, HORARIA (%)                    float64
 16  VENTO, DIREÇÃO HORARIA (gr) (° (gr))                   float64
 17  VENTO, RAJADA MAXIMA (m/s)                             float64
 18  VENTO, VELOCIDADE HORARIA (m/s)                        float64
 19  Unnamed: 19                                            float64
 20  UF                                                     object
 21  ESTACAO                                                object
 22  CODIGO (WMO)                                           object
 23  LATITUDE                                               object
 24  LONGITUDE                                              object
 25  ALTITUDE                                               object
 26  DATA DE FUNDACAO                                       object
dtypes: float64(18), object(9)
memory usage: 372.5+ MB

In [15]:
#### Salvar Banco de Dados

In [16]:
# Acessar Postgres
conn = psycopg2.connect(
    host="localhost",
    port = 5432,
    database="postgres",
    user="postgres",
    password="admin")

cor = conn.cursor()

In [17]:
#Gravar tabela no Postgres
from sqlalchemy import create_engine

#engine = create_engine("postgresql+psycopg2://username:password@host:port/database")

engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/postgres")
c = engine.connect()
conn = c.connection

# df.to_sql('table_name', engine, index=False)
df.to_sql('dados_climaticos', engine, if_exists='replace',index=False)

#conn.commit()

544

In [ ]:
# Listar as tabelas do Postgres

def tables_names(cur):
    cur.execute("SELECT table_name FROM information_schema.tables WHERE table_schema='public' ORDER BY table_name")
    table_names = cur.fetchall()
    return table_names
table_names= tables_names(cor)

print('Quantidade de tabelas: ', len(table_names))
for line in table_names:
    print(line)

In [75]:
# Fechar as conexões do Postgres
cor.close()
conn.close()